@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

*::selection {
  color: white;
  background-color: rgb(215, 0, 0);
}

@layer components {
  .navbar-items {
    @apply relative flex items-center justify-center
    text-2xl
    h-16 w-44 mt-2 mb-2 mx-auto gap-1 bg-[#FFFDFA]
    text-red-500 hover:bg-red-500 hover:text-white
    cursor-pointer
    transition-all
    rounded-md hover:rounded-3xl font-notosansjp
    dark:bg-slate-800 dark:text-white dark:hover:text-white dark:hover:bg-red-500;
  }

  .navbar-buttons {
    @apply relative flex items-center justify-center rounded-full text-2xl h-16 w-44 mt-2 mb-2 mx-auto gap-1 bg-red-500 text-white hover:bg-white hover:text-red-500 hover:border hover:border-red-500 cursor-pointer transition-all font-notosansjp;
  }

  .font-std {
    @apply font-cabin;
  }

  .project {
    @apply  h-96 w-[500px] max-w-[90vw] p-6 text-6xl shadow-lg bg-cover bg-center hover:scale-[101%] hover:shadow-md hover:shadow-red-500 transition-all bg-gray-100 border-2 border-gray-100 rounded-xl ;
  }
}
